body {
    background-color: rgb(20, 41, 49);
    color: white;
}

body,
h1,
p {
    margin: 0;
    padding: 0;
}

.title {
    margin: 30px auto;
    ;
}

body {
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    display: border-box;
    margin: 0 auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
}

/* /////custom css */


button {
    border: 0;
    outline: none;
    background: #8400ff70;
    color: #FFFFFF;
    padding: 4px 8px;
    height: 50px;
    min-width: 30px;
    border-radius: 10px;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.camera-ctn {
    background: #000000;
}


.videobox video {
    object-fit: cover;
    transform: scaleX(-1);
    max-height: 100%;
    max-width: 100%;
}

.camera-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* CAMERA BOTTOM */


/* SHUTTER CONTAINER */
.shutter-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* margin-top: 20px; */
}

.shutter {
    height: 60px;
    width: 60px;
    background: #FFFFFF;
    border-radius: 50%;
    /* position: relative; */
    /* Instead of absolute */
}

.shutter:active {
    transform: scale(0.8);
}

.switch-device {
    height: 55px;
    width: 55px;
    border-radius: 50%;
}

#location {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60vw;
    max-width: 80vw;
    margin: 40px auto;
    /* padding: 0 100px 0 100px; */
    border: black 2px solid;
    padding: 50px;
    border-radius: 20px;
    background-color: #00000070;
}

#get-location {
    /* width: 75px; */
    min-width: 100px;
}


video {
    max-height: 70vh;
    max-width: 70vw;
    margin: 0;
    /* background-color: black; */

}

#description {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
}

#lDescription {
    margin-right: 15px;
}

#severity {
    width: 80%;
    padding: 8px;
    margin: 5px 0;
}