<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <title>Potholes Analytics Dashboard</title>
    <script src="../static/scripts.js"></script>
</head>

<body>
    <div class="center">
        <h1>Admin Dashboard</h1>
    </div>
    <form>
        <input type="file" placeholder="Upload Image" required> <br>
        <button class="submit" type="submit" title="submit">Submit</button>
    </form>

    <video id="camera-stream" autoplay loop muted>
        <source src="">
    </video>
</body>

</html>
<!-- core feature
 ai powered potholes detiecitn
 crowd source app
 predictiv analysys for smart road repoair
 optimised  -->
<!-- 
 location - submission
 camera
 authority
 rpeort
  -->